server {
    listen 80;
    listen [::]:80;
    server_name ${SERVER_NAME};
    # TODO: Change this to the correct path
    root /var/www/drone-image-manipulation/build;
    index index.html;
    client_max_body_size 100M;

    location / {
        try_files $uri $uri/ =404;
    }

    # API endpoints
    location /ping {
        include proxy_params;
        proxy_pass ${API_URL};
    }
    location /flight-list {
        include proxy_params;
        proxy_pass ${API_URL};
    }
    location /set-grid {
        include proxy_params;
        proxy_pass ${API_URL};
    }
    location /data {
        # Needed because prod is only accessible from the VPN
        # TODO: but, prod api url on prod frontend is localhost (huge files over disk space)
        resolver ${DNS_RESOLVER};
        proxy_pass ${API_URL};
        rewrite ^/data(.*) $1 break;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
# TODO: Add SSL configuration (only for production)
${SSL_CONFIG}