server {
    listen 80;
    server_name dronepilotapp.psi.ncsu.edu;
    root /var/www/drone-image-manipulation/build;
    index index.html;
    client_max_body_size 100M;
    location / {
        try_files $uri $uri/ =404;
    }
    location /ping {
        include proxy_params;
        proxy_pass http://localhost:5000;
    }
    location /flight_list {
        include proxy_params;
        proxy_pass http://localhost:5000;
    }
    location /setGrid {
        include proxy_params;
        proxy_pass http://localhost:5000;
    }
}