.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toggle-draw{
  display: block;
  margin: 8px;
  margin-top: 65px;
  background-color: rgba(128, 128, 128, 0.25);
  /* width: fit-content; */
  position: absolute;
  border-radius: 4px;
}

.toggle-button {
  display: block;
  margin: 1px;
  padding: 0;
  color: #666666;
  font-weight: bold;
  text-decoration: none;
  font-size: inherit;
  text-align: center;
  height: 1.375em;
  width: 3.375em;
  line-height: .4em;
  background-color: white;
  border: none;
  border-radius: 2px;
}